body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background:
        linear-gradient(rgba(7, 29, 73, 0.60), rgba(7, 29, 73, 0.60)),
        /* url('https://images.unsplash.com/photo-1578574577315-3fbeb0cecdc2'); */
    url('../images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Glass login card */
.login-card {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    color: #fff;
}

.login-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.login-subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    color: #cbd5e1;
}

.form-control {
    background: rgba(255,255,255,0.1);
    border: none;
    color: #fff;
}

.form-control::placeholder {
    color: #ddd;
}

.form-control:focus {
    background: rgba(255,255,255,0.15);
    color: #fff;
    box-shadow: none;
}

.input-group-text {
    background: rgba(255,255,255,0.1);
    border: none;
    color: #fff;
}

.btn-login {
    background: #1e40af;
    border: none;
    font-weight: 500;
    padding: 10px;
    margin-top: 10px;
}

.btn-login:hover {
    background: #1d4ed8;
}

.footer-text {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #cbd5e1;
}

.footer-text a {
    color: #fff;
    text-decoration: none;

}